.modal-dialog {
  text-align: center;
}
.modal-dialog .modal-body {
  padding: 1.2em;
}

#tutorial .tooltip > .arrow {
  display: none;
}
#tutorial .tooltip > .tooltip-inner {
  padding: 0;
}

.animated-down-arrow {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -60px;
  left: -30px;
  z-index: 11;
  -webkit-animation-name: animated-down-arrow; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  animation-name: animated-down-arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes animated-down-arrow {
  0%   {top: -60px;}
  100% {top: -90px;}
}

/* Standard syntax */
@keyframes animated-down-arrow {
  0%   {top: -60px;}
  100% {top: -90px;}
}

.animated-left-arrow {
  height: 60px;
  width: 60px;
  position: absolute;
  right: 0px;
  z-index: 11;
  -webkit-animation-name: animated-left-arrow; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  animation-name: animated-left-arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes animated-left-arrow {
  0%   {right: -60px;}
  100% {right: -90px;}
}

/* Standard syntax */
@keyframes animated-left-arrow {
  0%   {right: -60px;}
  100% {right: -90px;}
}

.animated-right-arrow {
  height: 60px;
  width: 60px;
  position: absolute;
  left: -30px;
  z-index: 11;
  -webkit-animation-name: animated-right-arrow; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate;
  animation-name: animated-right-arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes animated-right-arrow {
  0%   {left: -30px;}
  100% {left: -60px;}
}

/* Standard syntax */
@keyframes animated-right-arrow {
  0%   {left: -30px;}
  100% {left: -60px;}
}